/* Palette for categories on the categorization page
   and other interface items in the tool */

.category-style-0 {

	background-color: rgb(164,208,90);
	color: black;
}
.category-style-1 {
	
	background-color: rgb(127,23,167);
	color: white;
}
.category-style-2 {
	
	background-color: rgb(70,76,174);
	color: white;		
}
.category-style-3 {
	
	background-color: rgb(236,197,50);
	color: black;
}
.category-style-4 {
	
	background-color: rgb(128,1,1);
	color: white;	
}

.category-style-default {
	
	background-color: white;
	color: black;
}

/* Bootstrap styles */

.container-fluid {
		
	padding: 0;
}

.row {

	margin: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.transparent {

	opacity: 0.5;
}

.opaque {

	opacity: 1.0;
}