/* General styles */

.hidden {

	display: none;
}

/* Palette for categories on the categorization page
   and other interface items in the tool */

.category-style-0 {

	background-color: rgb(164,208,90) !important;
	color: black !important;
}
.category-style-1 {
	
	background-color: rgb(127,23,167) !important;
	color: white !important;
}
.category-style-2 {
	
	background-color: rgb(70,76,174) !important;
	color: white !important;		
}
.category-style-3 {
	
	background-color: rgb(236,197,50) !important;
	color: black !important;
}
.category-style-4 {
	
	background-color: rgb(128,1,1) !important;
	color: white !important;	
}

.category-style-default {
	
	background-color: white;
	color: black;
}

/* Bootstrap styles */

.container-fluid {
		
	padding: 0;
}

.row {

	margin: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

/* Annotation page styles */

.annotation-card {
	margin-bottom: 1em;
}

.annotation-tab-nav {
	margin-bottom: 1em;
	opacity: 0.5;
}

.annotation-tab-nav.active{
	opacity: 1.0;
}